:root {
	--white: #e3e3e3;
	--primary: #9a2ed1;
	--primary-highlight: #7850dc;
	--primary-dim: #542689;
	--primary-background: #5a26a9;
	--dark-high: #2f2f2f;
	--dark-mid: #262626;
	--dark-low: #1b1b1b;
}

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	width: 100vw;
	min-height: 100vh;
}
